@tailwind base;
@tailwind components;
@tailwind utilities;

.campaign-tags {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 10px;

    /* width: 200px; */
}

.campaign-tag-items {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;

}