@tailwind base;
@tailwind components;
@tailwind utilities;

.campaign-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    border: black;
    border-width: 3px;
}
